<h1>List of current Users</h1>
<% if @current_user %>
  <h1><%= @current_user.name %></h1>
<% end %>

<% if @users %>
  <ul>
  <% @users.each do |user| %>
    <li>
      <a href=<%= "/users/#{ user.id }" %>>
      <%= "#{ user.name }, #{ user.id }" %>
      </a>
    </li>
  <% end %>
  </ul>
<% end %>
