<h1>ALL POSTS</h1>

<% if @posts %>
<ul>
  <% @posts.each do |post| %>
    <li class="post">
      <a href=<%= "/posts/#{ post.id }" %> class="title">
        Title: <%= post.title %>
      </a>
      <p class="text"><%= post.text %></p>
      <small>By: <%= post.user.name %></small>
    </li>
  <% end %>
</ul>
<% end %>
